// Default layout style. could be removed or changed in further
// No script message
.no-script-msg {
  position: fixed;
  top: 0;
  padding: 7px;
  width: 100%;
  font-size: 13px;
  background: #f9e03b;
  text-align: center;
}

// Set base font
html {
  font-size: $base-font+px;
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: $main-font;
  color: $txt-clr;
  line-height: 1.2;
}

.block {
  &__heading,
  &__body {
    margin-bottom: 3.462em;

    @include media(min, $md) {
      margin-bottom: 6.154em;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__title {
    text-transform: uppercase;

    &--colored {
      color: $main-clr;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  color: $txt-clr;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #6f6d7b;
  text-transform: uppercase;
  transition: $transition;

  @include media(min, $sm) {
    max-width: 185px;
  }

  @include media(min, $lg) {
    &:hover {
      background: $link-hover-clr;
      border-color: #fff;
      color: #fff;
    }
  }
}

// Video, google map, iframe
.video-wrapper,
.iframe-wrapper,
.responsive-wrapper {
  position: relative;
  padding-top: 50%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.is-blur {
  main,
  footer {
    filter: blur(2px);
  }
}

// Custom general layout style for all pages in project
.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;

  @include media(min, $md) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
