.footer {
  padding: 30px 0;
  text-align: center;
  color: $txt-bg-clr;
  background-color: #3d4050;

  &-content {
    @include media(min, $lg) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    @include media(min, $xl) {
      justify-content: center;
    }

    &__item {
      &:last-child {
        @include media(min, $lg, max, $xl) {
          flex: 1 1 100%;
        }
      }

      &:not(:first-child) {
        @include media(min, $xl) {
          padding-right: 40px;
          margin-right: 40px;
          border-right: 1px solid #c3c3c3;
        }
      }

      &:not(:last-child) {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #c3c3c3;

        @include media(min, $lg, max, $xl) {
          flex: 1 1 50%;
        }

        @include media(min, $xl) {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: 0;
        }
      }
    }
  }
}

// Contacts
.contacts {
  display: flex;
  gap: 20px 40px;

  @include media(max, $sm) {
    flex-direction: column;
    align-items: center;
  }

  @include media(min, $lg, max, $xl) {
    justify-content: flex-end;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: inherit;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      color: $main-clr;

      & svg {
        max-width: 15px;
        width: 100%;
      }
    }
  }
}

// Payment
.payments {
  display: flex;
  gap: 20px 40px;

  @include media(max, $sm) {
    flex-direction: column;
    align-items: center;
  }
}

.payment {
  display: flex;
  align-items: center;
  gap: 10px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: $main-clr;
  }

  &__name {
    color: $payment-clr;
  }
}
